.header-color{
  background: #2C3E50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgb(117, 5, 38), #1A1A1D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgb(117, 5, 38), #1A1A1D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*background: url(./Components/Assets/transpa.png) center / cover; */
  font-family: 'Brandon Grotesque', sans-serif;
}

.landing-grid{
  background-image: url(./Components/Assets/RajShee1.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: right;
  position: fixed;
  top: 10;
  left: 0;
  width: 100%;
  height: 100%;

}

.header-color{
  font-family: 'Tawakkal Sans', sans-serif;
  font-size: 55%;
}

.footer {
  font-family: 'Tawakkal Sans', sans-serif;
  height: 1%;
}

.banner-text{
  padding-top: 9%;
  text-align: center;
  display: inline-block;
  width: 45%;
  margin: auto;
  border-radius: 7px;
  line-height: 1.5;
}

.banner-text h1{
  font-size: 60px;
  font-family: 'Tawakkal Sans', sans-serif;
  font-weight: 400;
  line-height: 0.25em;
  text-align: left;
  padding-left: 22%;
  color: #1A1A1D;
}

.banner-text h2{
  font-size: 95px;
  font-family: 'Tawakkal Sans', sans-serif;
  font-weight: 450;
  line-height: 0.15em;
  text-align: center;
  color: #1A1A1D;
  line-height: 1.5;
  margin-left: 10.5%;
}

.banner-text p{
  color:  rgb(40, 40, 41);
  text-align: center;
  font-size: 14.5px;
  font-weight: bold;
  font-family: 'Brandon Grotesque', sans-serif;
  padding: 0.5ex;
  line-height: 0.05em;
  margin-left: 11.75%;
}

.banner-text hr{
  border-top: 3.5px solid #1A1A1D;
  width: 67%;
  margin-left: 22.5%;
  
}

.social-links{
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: auto;
  padding-left: 11%;
}

.social-links i{
  color:  rgb(117, 5, 38);
  font-size: 3em;
  padding: 3px;
  margin-left: 19.5%;
}


.copyright p{
  padding-top: 8%;
  padding-left: 5%;
  text-align: left;
  color: #1A1A1D;
  font-family: 'Tawakkal Sans', sans-serif;
  font-size: 18px;
}


.about-grid{
  background: #2C3E50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FD746C, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FD746C, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 90%;  

}

.about-text{
  padding-top: 8%;
  text-align: left;
  display: inline-block;
  width: 45%;
  margin: auto;
  border-radius: 7px;
  line-height: 1.5;
}

.fnd-text{
  padding-top: 8%;
  text-align: left;
  display: inline-block;
  width: 45%;
  margin: auto;
  border-radius: 7px;
  line-height: 1.5;
}

.tech-grid{
  background: #2C3E50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgb(117, 5, 38), #1A1A1D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgb(117, 5, 38), #1A1A1D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 10;
  left: 0;
  width: 100%;
  height: 100%;
}


.projects{
  background: rgb(135, 135, 139);  /* fallback for old browsers */
}


.projects-grid i{
  font-size: 35px;
  color: #1A1A1D;
}


.random h5{
  color: rgb(135, 135, 135);
  font-family: 'Brandon Grotesque', sans-serif;
  font-weight: bold;
}

.about-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 5em;
}

.about-grid {
  text-align: justify;
  justify-content: justify;
  width: 75%;
  height: 425px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.about-grid h2 {
  font-family: 'Tawakkal Sans', sans-serif;
  font-size: 50px;
  color: rgb(117, 5, 38);
}

.about-grid p {
  font-family: 'Brandon Grotesque', sans-serif;
  
}

.about-grid hr {
  border-top: 7px solid #4E4E50;
  width: 100%;
  margin: auto;
}

.Logo {
  background-image: url(./Components/Assets/RajShee1.jpg);
}


.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
}

.contact-grid h2 {
  font-family: 'Tawakkal Sans', sans-serif;
  font-size: 60px;
  color:  rgb(117, 5, 38);
}

.contact-grid p {
  font-family: 'Brandon Grotesque', sans-serif;
}

.contact-grid hr {
  border-top: 7px solid #4E4E50;
  width: 95%;
  margin: auto;
}

.contact-list i {
  font-size: 50px;
  padding-right: 2.5rem;
  color:  rgb(117, 5, 38);
}

.avatar-img {
  height: 250px;
  padding-top: 5em;
}

